---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

// Hacky to remove underline from custom text 

a[href="assets/pdf/cv.pdf"] {
  text-decoration: none; /* Remove underline from link */
}

a[href="assets/pdf/cv.pdf"]:hover {
  text-decoration: none; /* No underline on hover */
}

a[href="assets/pdf/cv.pdf"] span {
  text-decoration: none !important; /* Remove underline by default */
}

a[href="assets/pdf/cv.pdf"]:hover span {
  text-decoration: none !important; /* No underline on hover */
  color: purple; /* Make the text bold on hover (filled effect) */
}
